*{
    padding: 0;
    margin: 0;
}

body {
	font-family: Tahoma, arial, sans-serif;
    font-size: 13px;
    line-height: 1.5em;
    background: linear-gradient(to bottom, #D5D3D2 5%, #FFFFFF 100%);

}


p { 
	margin: 0px; 
	padding: 0; 
    opacity: 0.6;
}

img { 
	border: none; 
}

h1, h2, h3, h4, h5, h6 { 
	color: #000;
    opacity: 0.6;
    line-height: 30px;
}

ol, ul {
	list-style: none;
    padding-left: 0;
    opacity: 0.8;
}

#top{
    width: 1000px;  
    margin: 0 auto;    
}

.nav a:hover{
    border-radius: 5px;
    border: 1px solid #95A5A6;
    background: linear-gradient(top,  #FFFFFF,  #F7F7F7) !important;
    background: -ms-linear-gradient(top,  #FFFFFF,  #F7F7F7) !important;
    background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#F7F7F7)) !important;
    background: -moz-linear-gradient(top,  #FFFFFF,  #F7F7F7) !important;

 
}
 .nav ul li.active a{

 	border-radius: 5px;
	border: 1px solid #95A5A6;
	background: linear-gradient(top,  #FFFFFF,  #F7F7F7) !important;
	background: -ms-linear-gradient(top,  #FFFFFF,  #F7F7F7) !important;
	background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#F7F7F7)) !important;
	background: -moz-linear-gradient(top,  #FFFFFF,  #F7F7F7) !important;

}


.float_l { 
	float: left; 
}

.float_r { 
	float: right; 
}

.logo {
    font-size: 25px;
    color: #545454;
    padding: 15px 10px 10px 60px;
}

.nav li{
	display: inline;
}
.nav ul li a {
	float: left;
    display: block;
    font-size: 12px;
    width: 70px;
    height: 25px;
    padding: 6px 0 0 0;
    color: #000;
    text-decoration: none;
    text-align: center;
    outline: none;
    margin: 0 10px;
}
#top {
	padding: 20px 0;
}


#slide {
	padding-top: 68px;
	text-align: center;
}
#slide img {
	box-shadow:0 21px 25px #5E534C;
	border-radius: 5px;

}

.clear {
	clear: both;
}

.hr1 {
    padding-top: 50px;  
    border-bottom: 1px solid #C1C1C1;
    box-shadow:0 2px 3px rgba(152, 152, 152, 0.85);

}

.hr2 {
	padding-top: 50px;	
    border-bottom: 1px solid #C1C1C1;
    box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.12);
}

#page {
	display: block;
    width: 1000px;  
    margin: 0 auto;  
    padding-top: 50px; 
}

.text{
	width: 75%;
	font-size: 15px;
}


p.button{
    font-size:1.4em;
    text-transform:uppercase;
    text-align:center;
}
.button a{
    width: 45%;
    display: block;
    padding: 13px 40px;
    background: #EAEAEA;
    text-decoration:none; 
    color: #7C7C7C;
    font-weight:bold;
    text-shadow: 0px 1px 2px #9B9B9B; 
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    -webkit-box-shadow: inset 0px 1px 5px #DEDEDE, 0px 5px 0px 0px #C1C0C0, 0px 8px 5px #999;
    -moz-box-shadow: inset 0px 1px 5px #DEDEDE, 0px 5px 0px 0px #C1C0C0, 0px 8px 5px #999;
    box-shadow: inset inset 0px 1px 5px #DEDEDE, 0px 5px 0px 0px #C1C0C0, 0px 8px 5px #999;
}
.button a:active, .button a:hover, .button a:focus {
    color:#ccc;
    -webkit-box-shadow: inset 0px 1px 0px #DEDEDE, 0px 2px 0px 0px #C1C0C0, 0px 2px 5px #999;
    -moz-box-shadow: inset 0px 1px 0px #DEDEDE, 0px 2px 0px 0px #C1C0C0, 0px 2px 5px #999;
    box-shadow: inset 0px 1px 0px #DEDEDE, 0px 2px 0px 0px #C1C0C0, 0px 2px 5px #999;
}

.row {
	float: left;
    margin-top: 30px;
    width: 100%;
    margin-bottom: 30px;
}

.column1 {
	width: 33.3%;
}
.col1 {
    width: 25%;
}
.col2 {
    width: 20%;
}
.col1 ul li {
    padding: 10px 0;
}

#footer{
    background: #000;
    height: 200px;
    color: #FFFFFF;
    background-image: url("../img/footer.png");
    padding: 20px;
}
#footer h3{
    color: #FFFFFF;
    padding: 10px 0;
    border-bottom: 1px solid #000000;
    width: 90%;
    box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.12);
}
.row-footer{
    width: 1000px;  
    margin: 0 auto;  
}
.vien {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}
.col1 ul li {
    border-bottom: 1px solid #000000;
    width: 90%;
    text-align: left;
    box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.12);
}

.col2 ul li {
    border-top: 1px solid #D8D8D8;
    width: 90%;
    text-align: center;
}



input[type="text"] {
    width: 70px;
    height: 30px;
    padding-right: 100px;
    border-radius: 5px;
    background: rgba(29, 29, 29, 0.84);
    color: white;
    border: 1px solid rgba(117, 117, 117, 0.37);
}

input[type="submit"] {
    margin-left: -70px;
    width: 70px;
    height: 28px;
    border-radius: 5px;
    color: #4A4A4A; 

}
